# Node.js dependencies
node_modules/
npm-debug.log
package-lock.json

# Environment variables
.env

# Logs
logs/
*.log
*.log.*

# Build artifacts
dist/
build/

# Temporary files
*.tmp
*.temp

# Editor/IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Sensitive data
database/*.backup
